<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

</head>
<body class="text-center">
<div class="container">
    <div class=row>
        <div class="col-md-4 d-flex justify-content-center">
            <form class="form-signin" action="/create-clip" method="get" target="_blank">
                <input type="hidden" id="streamer" name="streamer" class="form-control" value="${streamer}"><br>
                <input type="submit" value="Create clip" class="btn btn-lg btn-primary btn-block">
            </form>
        </div>
    </div>
    <div class="row">
        <h2>Total number of views for your created clips:</h2>
        <p></p>
        <p>${totalCount}</p>
        <p></p>
        <h2>Total number of views for each streamer created by you:</h2>
        <#if streamers?has_content>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Streamer</th>
                <th scope="col">Total views count</th>
            </tr>
            </thead>
            <tbody>
            <#list streamers as streamer>
            <tr>
                <td>${streamer.name}</td>
                <td>${streamer.totalViewCount}</td>
            </tr>
            </#list>
            </tbody>
        </table>
        <#else>
        <p></p>
        <p>No streamers for current user. If you have created one, please reload page</p>
        </#if>
    </div>
</div>
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</body>
</html>