<!doctype html>
<html lang="en">
<head>
    <#include "/head.html">
</head>
<body class="text-center">
<#include "/navbar.html">
<div class="container">
    <div class="row">
        <h2>Total number of views for your created clips: ${totalCount}</h2>
    </div>
    <div class="row">
        <h2>Total number of views for each streamer created by you:</h2>
        <#if streamers?has_content>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Streamer</th>
                <th scope="col">Total views count</th>
            </tr>
            </thead>
            <tbody>
            <#list streamers as streamer>
            <tr>
                <td>${streamer.login}</td>
                <td>${streamer.totalViewCount}</td>
            </tr>
            </#list>
            </tbody>
        </table>
        <#else>
        <div class="row">
            <p>No streamers for current user. If you have created one, please reload page</p>
        </div>
    </#if>
</div>
</div>
<#include "/script.html">
</body>
</html>