<!doctype html>
<html lang="en">
<head>
    <#include "/head.html">
</head>
<body class="text-center">
<#include "/navbar.html">
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div id="<player div ID>"></div>
        </div>
        <div class="col-md-3">
            <iframe frameborder="0"
                    scrolling="no"
                    id="chat_embed"
                    src="https://www.twitch.tv/embed/${streamer}/chat?parent=localhost&parent=shuman-stonks.herokuapp.com"
                    height="500"
                    width="350">
            </iframe>
        </div>
    </div>
    <div class=row>
        <div class="col-md-4 d-flex justify-content-center">
            <form class="form-signin" action="/create-clip" method="get" target="_blank">
                <input type="hidden" id="streamer" name="streamer" class="form-control" value="${streamer}"><br>
                <input type="submit" value="Create clip" class="btn btn-lg btn-primary btn-block">
            </form>
        </div>
    </div>
    <div class="row">
        <h2>Clips:</h2>
        <#if clips?has_content>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Link</th>
                <th scope="col">View count</th>
            </tr>
            </thead>
            <tbody>
            <#list clips as clip>
            <tr>
                <td>${clip.title}</td>
                <td><a target="_blank" href="${clip.url}">Open</a></td>
                <td>${clip.viewCount}</td>
            </tr>
            </#list>
            </tbody>
        </table>
        <#else>
        <div class="row">
            <p></p>
            <p>No clips for current streamer. If you have created one, please reload page</p>
        </div>
    </#if>
</div>

<!-- Optional JavaScript -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript">
  var options = {
    width: 800,
    height: 600,
    channel: "${streamer}"
  };
  var player = new Twitch.Player("<player div ID>", options);
  player.setVolume(0.5);
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
</body>
</html>